@charset "utf-8";
*{padding:0;margin:0;}

#ATF{font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:24px; color:#F33;}
#title{font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:18px; color:#000; margin-left:10px;}
.title{position: relative; left:20%; top:30px;}
.ui-stepBar-wrap{position:relative; left: 20%; top:60px;}
.ui-stepBar-wrap .ui-stepBar{position:relative;width:60%;height:5px;background:#F33;top:50px;}
.ui-stepBar-wrap .ui-stepBar .ui-stepProcess{position:relative;width:50%;height:5px;background:#CCC;top:0;left:0;z-index:102;}
.ui-stepBar-wrap .ui-stepInfo-wrap{position:relative; left: 20%; top:-50px;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo{position:relative;left:-45%;padding:150px; padding-top:36px;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepSequence{padding-left:1px;padding-top:0px}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepName{position:relative;left:10px;top:0px; font-weight:bold;}
.symbol{position: relative; left:40%; top:5px;}
.link{position: relative; left:45%; top:-15px;}
#word{font-size:18px; font-weight:400; color:#000};

