.btn-white {
    border-color: #CCC;
    color: #444;
    background-color: #FFF;
}
.btn-white:hover{
    background-color: #ddd;
}
.btn-white>i{
    color: #FF6C60;
}
.row{
    padding-left:10px;
}
.form-group{
    margin-left:5px;
}
.control-label{
    margin-left:5px;
}
.form-horizontal .control-label {
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    margin-left:5px;
}
.btn-filter{
    border-color: #CCC;
    color: #444;
    background-color: #FFF;
    margin-left: 5px;
}
.btn-filter:hover{
    background-color: #41cac0;
    border-color: #41cac0;
    color: #fff;
}
.filter-checkbox>label{
    margin-left: 15px;
}
.form-control {
    border: 1px solid #ccc;
    box-shadow: none;
    color: #555;
}
#show{
    display: none;
}
#hide{
    display: inline-block;
}
.collapsed #show{
    display: inline-block;
}
.collapsed #hide{
    display: none;
}
#table{
    cellspacing:0px;
    cellpadding:0px;
    border-right: 1px solid #8b9199;
    border-bottom: 1px solid #8b9199;
   width:1075px;
    margin-top: 20px;
    margin-left:2px;
}

th {
    border-left:1px solid #8b9199;
    border-top:1px solid #8b9199;
    width:210px;
    text-align:center;
}

td {
    border-left:2px solid #8b9199;
    border-top:2px solid #8b9199;
    width:210px;
    cursor: pointer;
}

#button{
    height:16px;
    width:28px;
    background:url(button_plus.png);
    background-position:center;
    background-repeat:no-repeat;
}

#href{
   float: right;
    color: #d59392;
}
.glyphicon {
    width:100px;
    border: none;
}
#element{
    width:200px;
    height: 180px;
    overflow: scroll;
 }
#classPart1{
    position:relative;
    left:40px;
    top: 30px;
}
#multiclassPart1{
    position:relative;
    left:40px;
    top: 30px;
}
#classPart2{
    position:relative;
    left:300px;
    top: -175px;
}
#multiclassPart2{
    position:relative;
    left:300px;
    top: -175px;
}

#p_function{
    width:200px;
    height: 180px;
    overflow: scroll;
}
#p_functionMulti{
    width:200px;
    height: 180px;
    overflow: scroll;
}
#elementMulti{
    width:200px;
    height: 180px;
    overflow: scroll;
}
.bgBlue{
    background-color:#44ccfe;
}
#top_table{
    border:1px solid #bfc2cd;
    width:960px;
}
.index{
    width:30px;
}
.top_label{
    margin-left: 20px;
    color:black;
    font-weight: 200;
}
.number{
    width:30px;
}


#1{
    width:30px;
    border:1px solid #000000;
}
.selected {
    background-color: #2bb4e8;
}

#templateTable{
    height:50px;
    width:540px;
    border:1px solid #bfc2cd;
    text-align: center;
}
.addtemplate{
    width: 100px;
}
input{
    width:120px;
}
label.alignRight{
    width:50px;
    text-align: right;
}
.icon{
   float:right;
    color: #d59392;
 }

.xinzeng{
    margin-top: 5px;
    margin-right: 10px;
}
/*.icon{*/
    /*margin-top:30px;*/
    /*color:#d59392;*/
/*}*/

.table-wrapper table.newtable {
    font-size: 14px;
    text-align: center;
}

.table-wrapper table#newtable tr td.check,.table-wrapper table#newtable tr td.index{
    width: 40px;
}
.check input {
    /*float: left;*/
    width: 20px;
}
.table-wrapper table#newtable tr td i{
    color: #ff6c60;
}

[v-cloak] {
  display: none; }

.modal .modal-body {
  overflow-x: hidden;
  max-height: 500px;
  overflow: auto; }
  .modal .modal-body > div {
    float: left;
    width: 48%;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ddd; }
    .modal .modal-body > div:last-child {
      margin-left: 2%; }

.modal-header {
  padding: 10px 15px; }

.modal-footer {
  padding: 10px 15px; }

#top_table td.index, #top_table th.index{
    width: 50px;
}
#top_table .number {
    width: 200px;
}
#top_table th {
    font-weight: normal;
    font-size: 14px;
}
