.select-name {
    width: 100px;
}

.input-search {
    width: 150px;
}

.panel-padding {
    padding-left: 0;
}

table {
    th,
    td {
        text-align: center;
    }
}

.input-tip {
    display: block;
    margin-top: 50px;
}