@charset "utf-8";

#ATF{font-family:Verdana, Geneva, sans-serif; font-weight:700; font-size:24px; color:#F33;}
#title{font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:18px; color:#000; margin-left:10px;}
.title{position: relative; left:20%; top:30px;}

.ui-stepBar-wrap{position:relative; left: 20%; top:60px;}
.ui-stepBar-wrap .ui-stepBar{position:relative;width:60%;height:5px;background:#CCC;top:50px;}
.ui-stepBar-wrap .ui-stepBar .ui-stepProcess{position:relative;width:50%;height:5px;background:#F33;top:0;left:0;z-index:102;}
.ui-stepBar-wrap .ui-stepInfo-wrap{position:relative; left: 20%; top:-50px;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo{position:relative;left:-45%;padding:150px; padding-top:36px;}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepSequence{padding-left:1px;padding-top:0px}
.ui-stepBar-wrap .ui-stepInfo-wrap .ui-stepInfo .ui-stepName{position:relative;left:10px;top:0px; font-weight:bold;}
/* CSS Document */
#main{
	width:400px;
	margin-left: auto;
	margin-right:auto;
	margin-top:-40px;
	text-align:center;
}
.bitian{text-align:right;float:left;margin-bottom:20px}
.xuantian{text-align:right;float:left;}
.button{position:absolute; left:38%; top:90%;}
.bitian input{margin-top:20px;  width:200px; margin-left:15px;}
.xuantian input{margin-top:20px;width:200px; margin-left:15px;}
.button input{margin-top:20px; margin-left:15px;width:89px; }
#bitian{font-weight:500;}
#xuantian{font-weight:500;}





