<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <link rel="import" href="./common/header.html?__inline">
    <link rel="import" href="./noLoginAlert.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/handsontable.full.css">
    <link rel="stylesheet" type="text/css" href="../static/css/base.scss">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/datatable.scss">
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/vue.js"></script>
<!--     <script type="text/javascript" src="../lib/ZeroClipboard.min.js"></script> -->
    <script type="text/javascript" src="../lib/handsontable.full.js"></script>
    <title>Case Manager</title>
    <style>
    </style>
</head>

<body id="v-body">
    <div id="searchBox" v-show="isShow" class="searchBox" v-cloak>
            <header class="searchBox-header" draggable="true" ondragstart="dragController.searchBoxDragStart(event);" ondragend="dragController.searchBoxDragEnd(event,'searchBox');" ondrag="dragController.searchBoxDrag(event,'searchBox')">
                <span class="searchBox-title">查找与替换</span>
                <span class="icon-remove" @click="hide();"></span>
            </header>
            <main class="searchBox-body">
                <ul>
                    <li class="tab" :class="{'active':!searOrRep}" @click="showSearch">查找</li>
                    <li class="tab" :class="{'active':searOrRep}" @click="showReplace">替换</li>
                </ul>
                <div class="tab-wrapper">
                    <div class="tab-content">
                       <div class="">
                           <label>查找内容：</label>
                           <input type="text" placeholder="请输入关键字" v-model="keyword" id="input-search">
                           <button id="btn-search" type="button" @click="search">查找</button>
                       </div>
                       <div class="" id="replaceDiv" v-show="searOrRep">
                            <label>替换为：</label>
                            <input type="text" v-model="newword">
                       </div>
                    </div>
                </div>
            </main>
            <footer class="searchBox-footer">
                <button class="btn btn-white" v-show="searOrRep" @click="replaceAll()">全部替换</button>
                <button class="btn btn-white" v-show="searOrRep" @click="replace()">替换</button>
                <button class="btn btn-white" @click="findNext()">查找下一个</button>
                <button class="btn btn-white" @click="hide();">关闭</button>
            </footer>
    </div>
    <div id="editData" v-show="isShow" class="editData searchBox" v-cloak>
        <header class="editData-header">
            <span class="editData-title">编辑数据项</span>
            <span class="icon-remove" @click="hide();"></span>
        </header>
        <main class="editData-body container">
            <div class="type-wrapper" >
                <label class="">数据类型</label>
                <div><input type="radio" name="type" value="1" v-model="dataType">文本</div>
                <div><input type="radio" name="type" value="2" v-model="dataType">空文本</div>
                <div><input type="radio" name="type" value="3" v-model="dataType">去除语句</div>
                <div><input type="radio" name="type" value="4" v-model="dataType">表达式</div>
            </div>
            <form class="data-content form-inline">
                <div class="form-group" v-show="dataType==4">
                    <div class="input-group">
                        <div class="input-group-addon">{expr=</div>
                        <input type="text" id="input4" class="form-control" name="">
                        <div class="input-group-addon">}</div>
                    </div>
                </div>
                <div class="form-group " v-show="dataType==2">
                    <input type="text" id="input2" class="form-control" name="" readonly="true" value="nil">
                </div>
                <div class="form-group" v-show="dataType==3">
                    <input type="text" id="input3" class="form-control" name="" readonly="true" value="">
                </div>
                <div class="form-group" v-show="dataType==1">
                    <input type="text" id="input1" class="form-control" name="">
                </div>
                <button class="btn btn-primary insert-data" v-show="dataType==4" type="button" @click="insert(1,'插入数据')">插入数据</button>
                <button class="btn btn-primary insert-function" type="button" v-show="dataType==4" @click="insert(2,'插入函数')">插入函数</button>
            </form>
            <div class="operation-wrapper">
                <div class="sticky-top">
                     <label>前置操作</label>
                     <div>
                         <button class="btn btn-white" @click="removeRow($event, 1)">
                             <i class=" icon-trash"></i>
                             删除
                         </button>
                         <button class="btn btn-white" @click="moveUp($event, 1)">
                             <i class="icon-double-angle-up"></i>
                             上移
                         </button>
                         <button class="btn btn-white" @click="moveDown($event, 1)">
                             <i class="icon-double-angle-down"></i>
                             下移
                         </button>
                         <button class="btn btn-white" @click="saveOperation($event, 1)">
                             <i class="icon-save"></i>
                             保存
                         </button>
                     </div>
                </div>
                <div class="before-operation operation">
                    <table class="before-operation-table" border="1">
                        <thead>
                            <tr>
                                <td class="check">
                                    全选&nbsp;<input type="checkbox" class="checkall">
                                </td>
                                <td class="index">行号</td>
                                <td class="operations">操作项</td>
                                <td class="functions">方法</td>
                                <td class="parameters">参数</td>
                                <td class="add-row">
                                    <i class="icon-plus" @click="addRow(1)"></i>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="ui-sortable" id="sortable">
                            <tr v-for="(index, row) in beforeOperationRows" class="before-operation-row ui-sortable-handle" track-by="id" data-index={{index}}>
                               <td class="check">
                                   <input type="checkbox" class="checkone">
                               </td> 
                               <td class="index">{{index + 1}}</td>
                               <td class="operations">
                                   <div>
                                       <label>UI</label>
                                       <input type="text" class="operation-element" readonly="true" name="" value={{row.operation.element}}>
                                   </div>
                                    <div>
                                       <label>元素</label>
                                       <input type="text" readonly="true" class="operation-ui" name="" value={{row.operation.ui}}>
                                   </div>
                                   <i class="icon-edit" @click="showUiAndElement($event, 1)"></i>
                               </td>
                               <td class="functions">
                                   <select class="functions-select">
                                       <option value="" v-for="function in row.functions" :value="function.mname">{{function.mname}}</option>
                                   </select>
                               </td>
                               <td class="parameters">
                                    <span class="icon-edit" style="color: #ff6c60" @click="editParameter($event, 1)"></span>
                                    <table class="param-table" border="1">
                                        <thead>
                                            <tr>
                                                <td>名称</td>
                                                <td>参数值</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="parameter in row.parameters">
                                                <td>{{parameter.Name}}</td>
                                                <td>{{parameter.Value}}</td>
                                            </tr>
                                        </tbody>
                                   </table>
                               </td>
                               <td class="delete-row">
                                    <i class="icon-minus" @click="deleteRow(index, 1)"></i>
                               </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                 <div class="sticky-top">
                      <label>后置操作</label>
                     <div>
                         <button class="btn btn-white" @click="removeRow($event, 1)">
                             <i class=" icon-trash"></i>
                             删除
                         </button>
                         <button class="btn btn-white" @click="moveUp($event, 2)">
                             <i class="icon-double-angle-up"></i>
                             上移
                         </button>
                         <button class="btn btn-white"  @click="moveDown($event, 2)">
                             <i class="icon-double-angle-down"></i>
                             下移
                         </button>
                         <button class="btn btn-white"  >
                             <i class="icon-save"></i>
                             保存
                         </button>
                     </div>
                </div>
                <div class="after-operation operation">
                   
                    <table class="after-operation-table" border="1">
                        <thead>
                            <tr>
                                <td class="check">
                                    全选&nbsp;<input type="checkbox" class="checkall">
                                </td>
                                <td class="index">行号</td>
                                <td class="operations">操作项</td>
                                <td class="functions">方法</td>
                                <td class="parameters">参数</td>
                                <td class="add-row">
                                    <i class="icon-plus" @click="addRow(2)"></i>
                                </td>
                            </tr>
                        </thead>
                        <tbody class="ui-sortable" id="sortable2">
                            <tr v-for="(index, row) in afterOperationRows" data-index={{index}} class="after-operation-row" track-by="id">
                               <td class="check">
                                   <input type="checkbox" class="checkone">
                               </td> 
                               <td class="index">{{index + 1}}</td>
                               <td class="operations">
                                    <div>
                                       <label>元素</label>
                                       <input type="text" class="operation-element" readonly="true" name="" value={{row.operation.element}}>
                                   </div>
                                    <div>
                                       <label>UI</label>
                                       <input type="text" readonly="true" class="operation-ui" name="" value={{row.operation.ui}}>
                                   </div>
                                   <i class="icon-edit" @click="showUiAndElement($event, 2)"></i>
                               </td>
                               <td class="functions">
                                   <select class="functions-select">
                                       <option value="" v-for="function in row.functions" :value="function.mname">{{function.mname}}</option>
                                   </select>
                               </td>
                               <td class="parameters" contenteditable="false">
                                    <span class="icon-edit" style="color: #ff6c60" @click="editParameter($event, 2)"></span>
                                    <table class="param-table" border="1">
                                        <thead>
                                            <tr>
                                                <td>名称</td>
                                                <td>参数值</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="parameter in row.parameters">
                                                <td>{{parameter.Name}}</td>
                                                <td contenteditable="false">{{parameter.Value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                               </td>
                               <td class="delete-row">
                                   <i class="icon-minus" @click="deleteRow(index, 2)"></i>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer class="editData-footer">
            <button class="btn btn-white btn-cancel" @click="hide();">取消</button>
            <button class="btn btn-white editData-save" @click="saveEditData();">保存</button>
        </footer>
    </div>
    <div class="insertDiv" v-show="isShow" id="insertDiv" v-cloak>
        <header class="insertDivHeader" draggable="true" ondragstart="dragController.searchBoxDragStart(event);" ondragend="dragController.searchBoxDragEnd(event,'insertDiv');" ondrag="dragController.searchBoxDrag(event,'insertDiv')">
            <span>{{insertTitle}}</span>
        </header>
        <main>
            <div class="selectDiv">
                <div class="label">
                    <label v-if="type==1">数据池名称</label>
                    <label v-else>函数名称</label>
                </div>
                <select v-show="type==1" class="right-div" id="select-data-name" v-model="dataPoolType">
                    <option v-bind:value="1">用例内部变量</option>
                    <option v-bind:value="2">流程用例数据池</option>
                    <option v-bind:value="3">组合用例数据</option>
                    <option v-bind:value="4">场景数据</option>
                    <option v-bind:value="5">全局数据</option>
                    <option v-bind:value="6">环境数据</option>
                </select>
                <select v-show="type==2" class="right-div"  id="select-function-name" v-model="functionName">
                    <option>functionA</option>
                    <option>functionB</option>
                    <option>functionC</option>
                </select>
            </div>
            <div class="selectDiv" v-show="(dataPoolType==4 || dataPoolType==5 ) && type==1">
                <div class="label"></div>
                <div class="right-div">
                    <label><input type="radio" v-model="dataWritable" value="writable" checked>可读可写</label>
                    <label><input type="radio" v-model="dataWritable" value="readable">只读</label>
                    
                </div>
            </div>
            <div class="contentDiv">
                <div class="label">
                    <label v-if="type==1">数据名</label>
                    <label v-else>参数列表</label>
                </div>
                <div class="right-div">
                    <input type="text" id="dataName" name="" v-if="type==1">
                    <div v-else class="tableDiv">
                        <table border="1">
                            <thead>
                                <tr>
                                    <th scope="col">参数名称</th>
                                    <th scope="col">参数值</th>
                                </tr>
                            </thead>
                            <tbody id="insert-div-tbody">
                                <tr v-for="(row,index) in trData">
                                    <td class="td-param-name">
                                    {{row}}
                                    </td>
                                    <td contenteditable="true" class="td-param-value">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <button class="btn btn-white btn-cancel" @click="hide();">取消</button>
            <button class="btn btn-white btn-cancel" @click="saveData();">应用</button>
            <button class="btn btn-white editData-save" @click="hide();">关闭</button>
        </footer>
    </div>
        <!--header start-->
        <link rel="import" href="./common/header-guide.html?__inline">
        <!--header end-->
        <!--sidebar start-->
        <link rel="import" href="./common/aside-guide.html?__inline">
        <!--sidebar end-->
    <div class="content">
        <!--main content start-->
        <section id="main-content">
            <section class="content-wrapper">
                <div class="treeMenu" v-bind:class="{'close1': !flag, 'open2': flag}" id="submenu">
                    <div class="selectDiv">
                        <div>
                            <label>筛选类型</label>
                            <select @change="changeSelect($event)">
                                <option style="color: #ccc;">请选择</option>
                                <option v-for="item in selectItems" v-bind:value="item.value">{{item.name}}</option>
                            </select>
                        </div>
                        <div>
                            <label v-for="(index,item) in checkedItems" class="checkedItem"  track-by="$index">
                            <input type="checkbox" name="checkbox" v-bind:value="item.value" v-model="checkedArray">
                            {{item.name}}
                            </label>
                        </div>
                    </div>
                    <div class="tree-wrapper ztree" id="tree-wrapper">
                    </div>
                    <button type="button" id="btn-menu" class="btn-toggle" @click="toggle">
                    <i :class="{'icon-chevron-left': flag, 'icon-chevron-right': !flag}">
                    </i>
                    </button>
                </div>
                <main class="main">
                     <!-- breadcrumb start -->
                    <div class="row" style="margin-top: 10px;margin-bottom: 10px; height: auto; margin-right: 0;">
                        <div class="col-lg-12">
                            <ul class="breadcrumb" style="margin-bottom: 0;">
                                <li><a href="#"><i class="icon-home"></i> 数据中心</a></li>
                                <!-- <li class="active"><a href="#"> 任务管理</a></li> -->
                                <!-- <li class="active"> 对象库</li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="top-bar">
                        <button class="btn btn-white"><i class="icon-cog"></i>
                        构建</button>
                        <button class="btn btn-white"><i class="icon-list-alt"></i>
                        代码查看</button>
                        <button class="btn btn-white"><i class="icon-wrench"></i>
                        调试</button>
                        <button class="btn btn-white" id="saveAll"><i class="icon-save"></i>
                        保存</button>
                        <button class="btn btn-white" id="enparameter"><i class="icon-wrench"></i>
                        参数化</button>
                    </div>
                    <div class="dataTable-wrapper">

                      <div id="handsontable">

                      </div>
                    </div>
                    <div class="panel panel-default" id="tooltipwindow"
                    :class="{'height43px':flag,'height200px':!flag}">
                      <div class="panel-heading">调试结果
                      <button type="button" class="close" id="btn-closetooltip" @click="toggle">
                      <i :class="{'icon-resize-full':flag,'icon-resize-small':!flag}"></i></button></div>
                      <div class="panel-body">
                        举头望明月，低头思故乡</br>
                        窗前明月光，疑是地上霜</br>
                        举头望明月，低头思故乡</br>
                        窗前明月光，疑是地上霜
                      </div>
                    </div>
                </main>
            </section>

            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
        <!--main content end-->
        <div class="modal fade" tabindex="-1" role="dialog" id="ui-ele-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">模板脚本操作项</h4>
                    </div>
                    <div class="modal-body">
                        <div class="ui-element">
                            <h5>UI与元素</h5>
                            <ul id="ui-element-ul" class="ztree"></ul>
                        </div>
                        <div class="function-div">
                            <h5>公共函数集</h5>
                            <ul id="functions-ul" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary" @click="editRow()">确定</button>
                    </div>
                </div>
            </div>
        </div> <!-- modal end -->
        <div class="modal fade  bs-example-modal-sm" tabindex="-1" role="dialog" id="edit-parameter-modal">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="buton" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">编辑参数</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="width: 100%;">
                            <div class="row">
                                <label class="col-md-4 col-md-offset-2">参数名称</label>
                                <label class="col-md-4">参数值</label>
                            </div>
                            <div v-for="parameter in parameters" class="row" style="margin-top: 5px;">
                                <label class="col-md-4 col-md-offset-2">{{parameter.Name}}</label>
                                <input type="text" name="" value={{parameter.Value}} class="col-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">取消</button>
                        <button class="btn btn-primary" @click="okParameter($event)">确定</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--content end -->
    <script src="../static/js/config.js"></script>
    <script src="../static/js/vac-functions.es.js"></script>
    <script src="../static/js/datatable.es.js"></script>
    <script src="../../lib/common-scripts.js"></script>
    <!-- 使用其表格拖拽功能 -->
    <script type="text/javascript" src="../lib/jquery-ui.js"></script> 
    <script type="text/javascript" src="../lib/jquery.ztree.all.min.js"></script>
</body>

</html>
