<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="import" href="./common/header.html?__inline">
    <link rel="import" href="./noLoginAlert.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/base.scss">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/metroStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/scene-management.css">
    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/vue.js"></script>
    <title>Scene Manager</title>
</head>

<body id="v-body">
    <div class="editTrigger" v-show="triggerShow" style="z-index: 1000;display: none;">
       <header class="editTrigger-header">
            <span class="editTrigger-title">{{triggerInfo.editTriggerType}}触发器</span>
            <span class="icon-remove" @click="closeTrigger();"></span>
        </header>
        <main class="editTrigger-main">
            <div class="trigger-name-wrapper trigger-item-wrapper">
                <label class="trigger-label">触发器名称:</label>
                <input type="text" name="" v-model="editTriggerData.name">
            </div>
            <div class="trigger-desc-wrapper trigger-item-wrapper">
                <label class="trigger-label">描述:</label>
                <textarea rows="4" v-model="editTriggerData.desc"></textarea>
            </div>
            <div class="trigger-item-wrapper trigger-time-wrapper">
                <label class="trigger-label">执行时机:</label>
                <div class="checkbox-wrapper">
                    <label class="checkbox-item"><input type="checkbox" name="" v-model="editTriggerData.occasions">场景执行前</label>
                    <label class="checkbox-item"><input type="checkbox" name="" v-model="editTriggerData.occasions">场景执行后</label>
                    <label class="checkbox-item"><input type="checkbox" name="" v-model="editTriggerData.occasions">用例执行前</label>
                    <label class="checkbox-item"><input type="checkbox" name="" v-model="editTriggerData.occasions">用例执行后</label>
                    <label class="checkbox-item"><input type="checkbox" name="" v-model="editTriggerData.occasions">元素对象方法执行前</label>
                    <label class="checkbox-item"><input type="checkbox" name="" v-model="editTriggerData.occasions">元素对象方法执行后</label>
                </div>
            </div>
            <div class="trigger-condition-wrapper trigger-item-wrapper">
                <label class="trigger-label">执行条件</label>
                <div class="radio-button-wrapper">
                    <label class="radio-item"><input type="radio" name="" value="1" v-model="editTriggerData.Conditionrelate">满足以下所有条件</label>
                    <label class="radio-item"><input type="radio" name="" value="1" v-model="editTriggerData.Conditionrelate">满足一下任一条件</label>
                    <label class="radio-item"><input type="radio" name="" value="1" v-model="editTriggerData.Conditionrelate">无条件限制</label>
                </div>
            </div>
            <div class="trigger-item-wrapper trigger-table-wrapper">
                <table>
                    <thead>
                        <tr> 
                            <th scope="col">条件名称</th>
                            <th scope="col">匹配方式</th>
                            <th scope="col">匹配值</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select>
                                    <option>用例编号</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option>等于</option>
                                </select>
                            </td>
                            <td></td>
                            <td>
                                <button class="btn btn-default" @click="addTriggerCondition();">增加</button>
                                <button class="btn btn-default">删除</button>
                            </td>
                        </tr>
                         <tr v-for="(item, index) in editTriggerData.conditions">
                            <td>
                                <select>
                                    <option>用例编号</option>
                                </select>
                            </td>
                            <td>
                                <select>
                                    <option>等于</option>
                                </select>
                            </td>
                            <td></td>
                            <td>
                                <button class="btn btn-default">增加</button>
                                <button class="btn btn-default" @click="removeTriggerCondition(index)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="trigger-item-wrapper trigger-action-wrapper">
                <label class="trigger-label">执行动作: </label>
                <button class="btn-item-add" @click="addTriggerAction();"><span class="icon-plus"></span></button>
                <div class="action-item-wrapper" v-for="(item, index) in editTriggerData.actions">
                    <button class="" @click="removeTriggerAction(index);"><span class="icon-remove"></span></button>
                    <div class="item-row">
                        <label>选择操作</label>
                        <select>
                            <option>发送邮件</option>
                        </select>
                    </div>
                    <div class="item-row">
                        <label>脚本类型</label>
                        <select>
                            <option>groovy</option>
                        </select>
                    </div>
                    <div class="item-row">
                        <label>脚本内容</label>
                        <textarea rows="5"></textarea>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <button class="btn btn-info">取消</button>
            <button class="btn btn-info">确定</button>
        </footer>
    </div>
        <!--header start-->
        <link rel="import" href="./common/header-guide.html?__inline">
        <!--header end-->
        <!--sidebar start-->
        <link rel="import" href="./common/aside-guide.html?__inline">
        <!--sidebar end-->

    <div class="content">
        <!--main content start-->
        <section id="main-content">
            <section class="content-wrapper" :class={ 'bigMarginBottom':!tooltipFlag, 'smallMarginBottom':tooltipFlag}>
                <main class="main">
                    <div class="route-position">
                        <a href="">场景管理</a>
                        <span> > </span>
                        <a href="">银行交易1</a>
                    </div>
                    <div class="top-bar">

                        <button class="btn btn-white"><i class="icon-remove"></i>
                        移除用例</button>
                        <button class="btn btn-white" @click="operationType(1);"><i class="icon-calendar"></i>
                        执行时间规划</button>
                        <button class="btn btn-white" @click="operationType(2);"><i class="icon-cog"></i>
                        触发器设置</button>
                        <button class="btn btn-white" @click="operationType(3);"><i class="icon-retweet"></i>
                        执行过程控制</button>
                        <button class="btn btn-white" @click="operationType(4);"><i class="icon-cogs"></i>
                        数据资源池配置</button>
                        <button class="btn btn-white" @click="operationType(5);"><i class="icon-wrench"></i>
                        调试</button>
                        <button class="btn btn-white"><i class="icon-file"></i>
                        生成报告</button>
                    </div>
                    <div class="main-content">
                        <div class="check-all-case"><input type="checkbox"  @change="checkall($event)"></div>
                        <div class="case-lib" v-for="case_wrapper in sceneInfo.caseDtos">
                            <div class="checkbox-wrapper">
                                <!-- <label>全选</label> -->
                                <input type="checkbox" class="checkall" @change="checkallToggle($event);">

                            </div>
                            <div class="case-wrapper">
                                <template v-if="case_wrapper.caseCompositeType == '1'">
                                    <div class="case" >
                                        <div class="case-header">
                                            <input type="checkbox" name="" class="check-case">
                                            <p>{{case_wrapper.id}}</p>
                                        </div>
                                        <div class="case-main">
                                            <p>{{case_wrapper.casecode}}</p>
                                        </div>
                                        <footer class="case-footer">
                                            <i class="icon-remove success-flag"></i>
                                        </footer>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="case" v-for="item in case_wrapper.flowNodeDtos">
                                        <div class="case-header">
                                            <input type="checkbox" name="" class="check-case">
                                            <p>{{item.id}}</p>
                                        </div>
                                        <div class="case-main">
                                            <p>{{item.casecode}}</p>
                                        </div>
                                        <footer class="case-footer">
                                            <i class="icon-remove success-flag"></i>
                                        </footer>
                                    </div>
                                </template>
                                
                            </div>
                        </div>
                    </div>
                </main>
            </section>
            <div class="panel panel-default" id="tooltipwindow" :class="{'height43px':tooltipFlag, 'height200px': !tooltipFlag}">

              <div class="panel-heading">
              <span v-show="tooltipType===1">执行时间规划</span>
              <span v-show="tooltipType===2">触发器设置</span>
              <span v-show="tooltipType===3">执行过程控制</span>
              <span v-show="tooltipType===4">数据资源池配置</span>
              <span v-show="tooltipType===5">调试</span>

              <button type="button" class="close" id="btn-closetooltip" @click="toggleTooltip">
              <i :class="{'icon-resize-full':tooltipFlag,'icon-resize-small':!tooltipFlag}"></i>
              
              </button></div>
              <div class="panel-body">
                <!-- 执行时间规划 -->
                <div v-show="tooltipType===1" class="timeArrange">
                    <div>
                        <label>执行时间</label>
                        <input type="date" name="">
                        <input type="time" name="">
                    </div>
                    <div>
                        <label>执行时间标识</label>
                        <span>T + </span>
                        <input type="text" name="">
                    </div>
                     <div>
                        <button class="btn btn-info exeTimeSave">
                            保存
                        </button>
                    </div>
                </div>
                <!-- 触发器设置 -->
                <div v-show="tooltipType===2" class="triggerSetting">
                    <div>
                        <button type="button" class="btn btn-white" @click="openTrigger(1);">
                            <i class="icon-plus"></i>
                            新增
                        </button>
                        <button type="button" class="btn btn-white">
                            <i class="icon-remove"></i>
                            删除
                        </button>
                        <button type="button" class="btn btn-white" @click="openTrigger(2);">
                            <i class="icon-edit"></i>
                            编辑
                        </button>
                    </div>
                    <div class="table-wrapper">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">选择</th>
                                    <th scope="col">触发器名称</th>
                                    <th scope="col">描述</th>
                                    <th scope="col">状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in triggers">
                                    <td><input type="checkbox" :value="item.id" v-model="triggerInfo.selectedTrigger" @change="test();"></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.desc}}</td>
                                    <td>
                                        <select>
                                            <option>启用</option>
                                            <option>禁用</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-info triggerSave">
                            保存
                        </button>
                    </div>
                </div>
                    <!-- 执行过程控制 -->
                <div class="processControl" v-show="tooltipType===3">
                        <p>执行策略选择
                            <i class="">:</i>
                        </p>
                        <div class="strategy-wrapper wrapper-div">
                            <div class="strategy-group">
                                <span class="group-name">用例级</span>
                                <div class="select-wrapper">
                                    <div class="select-group">
                                        <label>执行状态策略</label>
                                        <select v-model="exe_strategy.exe_strategy1_status">
                                            <option value="0">保持原样不做处理</option>
                                            <option value="1">全部重新执行</option>
                                            <option value="2">跳过执行成功的案例</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="strategy-group">
                                <span class="group-name">流程节点级</span>
                                <div class="select-wrapper">
                                    <div class="select-group">
                                        <label>起始节点策略</label>
                                        <select v-model="exe_strategy.exe_strategy2_start">
                                             <option value="0">保持原样不做处理</option>
                                            <option value="1">从第一个节点开始</option>
                                            <option value="2">从第一个执行失败的节点开始</option>
                                        </select>
                                    </div>
                                    <div class="select-group">
                                        <label>执行顺序策略</label>
                                        <select v-model="exe_strategy.exe_strategy2_order">
                                            <option value="0">保持原样不做处理</option>
                                            <option value="1">顺序无关执行</option>
                                            <option value="2">强制顺序执行</option>
                                        </select>
                                    </div>
                                    <div class="select-group">
                                        <label>执行状态策略</label>
                                        <select v-model="exe_strategy.exe_strategy2_status">
                                            <option value="0">保持原样不做处理</option>
                                            <option value="1">全部重新执行</option>
                                            <option value="2">跳过执行成功的案例</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="strategy-group">
                                <span class="group-name">组合用例级</span>
                                <div class="select-wrapper">
                                    <div class="select-group">
                                        <label>起始用例策略</label>
                                        <select v-model="exe_strategy.exe_strategy3_start">
                                             <option value="0">保持原样不做处理</option>
                                            <option value="1">从第一个节点开始</option>
                                            <option value="2">从第一个执行失败的节点开始</option>
                                        </select>
                                    </div>
                                    <div class="select-group">
                                        <label>执行顺序策略</label>
                                       <select v-model="exe_strategy.exe_strategy3_order">
                                            <option value="0">保持原样不做处理</option>
                                            <option value="1">顺序无关执行</option>
                                            <option value="2">强制顺序执行</option>
                                        </select>
                                    </div>
                                    <div class="select-group">
                                        <label>执行状态策略</label>
                                        <select v-model="exe_strategy.exe_strategy3_status">
                                            <option value="0">保持原样不做处理</option>
                                            <option value="1">全部重新执行</option>
                                            <option value="2">跳过执行成功的案例</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <p>错误处理模式：</p>
                    <div class="option-wrapper wrapper-div">
                        <div class="select-wrapper">
                             <div class="select-group">
                                <label>出错操作</label>
                                <select v-model="exe_strategy.exe_strategy_err">
                                    <option value="0">保持原样不做处理</option>
                                    <option value="1">出错后终止</option>
                                    <option value="2">出错后继续执行</option>
                                    <option value="3">出错后由用户选择</option>
                                </select>

                            </div>
                        </div>
                        <div class="processControl-footer">
                            <button class="btn btn-info processControlSave">保存</button>
                        </div>
                    </div>

                    <div class="processControl-footer">
                        <button class="btn btn-info processControlSave" @click="saveStrategy();">保存</button>
                    </div>
                </div>
                <!-- 数据资源池设置 -->
                <div v-show="tooltipType===4" class="dataPool">
                    <div>
                        <button type="button" class="btn btn-white">
                            <i class="icon-plus"></i>
                            新增
                        </button>
                        <button type="button" class="btn btn-white">
                            <i class="icon-remove"></i>
                            删除
                        </button>
                        <button type="button" class="btn btn-white">
                            <i class="icon-edit"></i>
                            编辑
                        </button>
                    </div>
                    <div class="table-wrapper">
                        <table border="1">
                            <thead>
                                <tr>
                                    <th scope="col">选择</th>
                                    <th scope="col">数据名称</th>
                                    <th scope="col">数据值</th>
                                    <th scope="col">数据描述</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="radio" name="">
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td>
                                        <select>
                                            <option>启用</option>
                                            <option>禁用</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <button class="btn btn-info triggerSave">
                            保存
                        </button>

                    </div>
                </div>
            </div>

            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
        <!--main content end-->
    </div>
    <!--content end -->

        <!-- 提示框 -->
    <div class="alert" :class="{ show:alertShow, hide:!alertShow }" id="alert" >
        <header class="alert-header bg-info">
            <span>提示信息</span>
            <button type="button" class="close" ><i class="icon-remove" @click="hideAlert()"></i></button>
        </header>
        <main class="alert-main">
            <p class="">{{ tooltipMessage }}</p>
        </main>
        <footer class="alert-footer">
            <button type="button" class="btn btn-primary" @click="hideAlert()">确定</button>
        </footer>
    </div>

    <script src="../static/js/config.js"></script>
    <script src="../static/js/vac-functions.es.js"></script>
    <script src="../static/js/Vac.js"></script>
    <script src="../static/js/scene-management.es.js"></script>
    <script src="../../lib/common-scripts.js"></script>
    <script type="text/javascript">
    document.querySelector('.sidebar-toggle-box').addEventListener('click', function() {
        if (document.body.offsetWidth <= 768) {
            return;
        }
        document.querySelector('.panel').style.width = document.querySelector('#sidebar').style.marginLeft === "-180px" ? "100%" : "calc(100% - 180px)";
        document.querySelector('.copy-right').style.width = document.querySelector('#sidebar').style.marginLeft === "-180px" ? "100%" : "calc(100% - 180px)";
    }, false);
    window.addEventListener('resize', function() {
        document.querySelector('.panel').style.width =
            (document.body.offsetWidth <= 768 ||
                document.querySelector('#sidebar').style.marginLeft === "-180px") ? "100%" : "calc(100% - 180px)";
        document.querySelector('.copy-right').style.width =
            (document.body.offsetWidth <= 768 ||
                document.querySelector('#sidebar').style.marginLeft === "-180px") ? "100%" : "calc(100% - 180px)";
    }, false);
    </script>
</body>

</html>