<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="./common/header.html?__inline">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/pagination.css">
    <link rel="stylesheet" type="text/css" href="../static/css/scene.css">
    <title>测试记录</title>
</head>

<body id="testRecord" v-cloak>
    <div class="content">
        <!--header start-->
        <link rel="import" href="./common/header-guide.html?__inline">
        <!--header end-->
        <!--sidebar start-->
        <link rel="import" href="./common/aside-guide.html?__inline">
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!--top-button start-->
                <div class="row">
                    <div class="col-lg-12 top-btn">
                        <!-- <a class="btn btn-white"  @click=""><i class="icon-search"></i> 搜索</a> -->
                        <a class="btn btn-white"><i class="icon-plus"></i> 合并</a>
                        <a class="btn btn-white" data-toggle="modal" href="#deleteModal"><i class="icon-trash"></i> 删除</a>
                        <!-- insertModal start -->
                        <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">添加场景</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- modal-body start -->
                                        <section class="panel">
                                            <form id="insertForm" class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景名称</label>
                                                    <div class="col-lg-5">
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景说明</label>
                                                    <div class="col-lg-5">
                                                        <textarea class="form-control" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                        <!-- modal-body end -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                        <button data-dismiss="modal" class="btn btn-success" type="button" v-on:click="insert()">添加</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- insertModal end -->
                        <!-- delModal start -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="insertModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">删除测试系统</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- modal-body start -->
                                        <h4>确认删除测试系统？</h4>
                                        <!-- modal-body end -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                        <button data-dismiss="modal" class="btn btn-success" type="button" v-on:click="del">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- delModal end -->
                        <!-- updateModal start -->
                        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">修改场景</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!-- modal-body start -->
                                        <section class="panel">
                                            <form id="insertForm" class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景名称</label>
                                                    <div class="col-lg-5">
                                                        <input type="text" name="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">场景说明</label>
                                                    <div class="col-lg-5">
                                                        <textarea class="form-control" rows="4"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </section>
                                        <!-- modal-body end -->
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                                        <button data-dismiss="modal" class="btn btn-success" type="button" v-on:click="insert()">添加</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- updateModal end -->
                        <!-- successModal start -->
                        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">操作成功</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>操作成功！</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- successModal end -->
                        <!-- failModal start -->
                        <div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="failModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">操作失败</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>操作失败！</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button data-dismiss="modal" class="btn btn-success" type="button">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- failModal end -->
                    </div>
                </div>
                <!--topbutton end-->
                <!-- table start -->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                测试记录
                            </header>
                            <div class="filter">
                                <div class="row">
                                    <form class="form-horizontal col-lg-12">
                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">搜索条件</label>
                                            <label class="col-lg-1 control-label">测试阶段</label>
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" name="testphase">
                                            </div>
                                            <label class="col-lg-1 control-label">测试轮次</label>
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" name="executeround">
                                            </div>
                                            <label class="col-lg-1 control-label">用例编号</label>
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" name="testcaseid">
                                            </div>
                                            <label class="col-lg-1 control-label">记录单状态</label>
                                            <div class="col-lg-1">
                                                <select class="form-control">
                                                    <option>激活</option>
                                                    <option>未激活</option>
                                                    <option>最新测试轮次的的激活记录单</option>
                                                    <option>所有状态</option>
                                                </select>
                                            </div>
                                            <label class="col-lg-1 control-label">执行结果</label>
                                            <div class="col-lg-1">
                                                <select class="form-control">
                                                    <option>成功</option>
                                                    <option>失败</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-1">
                                                <a class="btn btn-primary" onclick="queryRecord()">搜索</a>
                                            </div>
                                            <!--  <label class="col-lg-2  control-label">展示条目</label>
                                            <div class="col-lg-2">
                                                <select size="1" name="sample_1_length" aria-controls="sample_1" class="form-control" v-model="pageSize" id="mySelect">
                                                    <option value="1" selected>1</option>
                                                    <option value="3">3</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-1"><a class="btn btn-white" onclick="getScene(1, 10, 'id', 'asc')">刷新</a></div> -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- 表格 -->
                            <table class="table table-striped table-bordered border-top text-center" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>
                                            <!-- <input type="checkbox" v-model="checked" v-on:click="" name="chk_all" id="chk_all" /> -->
                                        </th>
                                        <th class="text-center">记录单id</th>
                                        <th class="text-center">用例id</th>
                                        <th class="text-center">节点id</th>
                                        <th class="text-center">节点名称</th>
                                        <th class="text-center">测试阶段</th>
                                        <th class="text-center">测试轮次</th>
                                        <th class="text-center">执行轮次</th>
                                        <th class="text-center">记录单状态</th>
                                        <th class="text-center">执行结果状态</th>
                                    </tr>
                                </thead>
                                <tbody id="sceneTable">
                                    <tr class="odd gradeX" v-for="scene in sceneList" id="{{scene.id}}" v-if="sceneList.length>0">
                                        <td width="5%">
                                            <input type="checkbox" v-model="" name="chk_list" id="{{scene.id}}" />
                                        </td>
                                        <td class="center" width="">{{ scene.scenename }}</td>
                                        <td width="">{{ scene.description }}</td>
                                        <td class="" width=""></td>
                                        <td class="" width=""></td>
                                        <td class="" width=""></td>
                                        <td class="" width=""></td>
                                        <td class="" width=""></td>
                                        <td class="" width="">
                                            <select class="form-control">
                                                <option>激活</option>
                                            </select>
                                        </td>
                                        <td class="" width="">
                                            <select class="form-control">
                                                <option>成功</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="10">暂无数据</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 分页 -->
                            <!-- <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="pagination-wrap" v-if="totalPage!=0">
                                        <ul class="pagination">
                                            <li :class="currentPage==1?'disabled':''"><a href="javascript:;" @click="turnToPage(1)">首页</a></li>
                                            <li :class="currentPage==1?'disabled':''"><a @click="turnToPage(currentPage-1)" href="javascript:;">上一页</a></li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage-3)" v-text="currentPage-3" v-if="currentPage-3>0"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage-2)" v-text="currentPage-2" v-if="currentPage-2>0"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage-1)" v-text="currentPage-1" v-if="currentPage-1>0"></a>
                                            </li>
                                            <li class="active"><a href="javascript:;" @click="turnToPage(currentPage)" v-text="currentPage">3</a></li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage+1)" v-text="currentPage+1" v-if="currentPage+1<totalPage"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage+2)" v-text="currentPage+2" v-if="currentPage+2<totalPage"></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" @click="turnToPage(currentPage+3)" v-text="currentPage+3" v-if="currentPage+3<totalPage"></a>
                                            </li>
                                            <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(currentPage+1)">下一页</a></li>
                                            <li :class="currentPage==totalPage?'disabled':''"><a href="javascript:;" @click="turnToPage(totalPage)">尾页</a></li>
                                        </ul>
                                        <div class="go">
                                            <div :class="isPageNumberError?'input-group error':'input-group'">
                                                <input class="form-control" type="number" v-model="goToPage" min="1"><a href="javascript:;" class="input-group-addon" @click="turnToPage(goToPage)">Go</a>
                                            </div>
                                        </div>
                                        <small class="small nowrap"> 当前第 <span class="text-primary" v-text="currentPage"></span> / <span class="text-primary" v-text="totalPage"></span>页，共有 <span class="text-primary" v-text="tt"></span> 条</small>
                                    </div>
                                </div>
                            </div> -->
                        </section>
                    </div>
                </div>
                <!-- table end -->
            </section>
            <link rel="import" href="./common/copy-right.html?__inline">
        </section>
    </div>
</body>

</html>
<link rel="import" href="./common/footer.html?__inline">
<script src="../lib/vue-resource.min.js"></script>
<script type="text/javascript" src="../static/js/testRecord.js"></script>
